<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled">
                <li class="menu-title">Menu</li>

                <li>
                    <div class="sideIcon">
                        <a routerLink="dashboard">
                            <i class="bx bx-home-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="sideIcon">
                        <a routerLink="user">
                            <i class="bx bx-user"></i>
                            <span>User</span>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="sideIcon">
                        <a routerLink="tenant">
                            <i class="bx bx-group"></i>
                            <span>Tenant</span>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="sideIcon">
                        <a routerLink="client-request">
                            <i class="bx bx-user-check"></i>
                            <span>Client Request</span>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="sideIcon">
                        <a routerLink="role">
                            <i class="bx bx-menu"></i>
                            <span>Role</span>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
